.or-page-header {
  border-bottom: 0px solid #eee;
  margin: 20px 0 20px;
  font-family: "Montserrat";
  padding-bottom: 0px;
}

.or-navbar {
  border-radius: 0px;
}

.or-navbar-default {
  background-color: #185078;
  border-color: #185078;
  margin-bottom: 0px;
}

.zero-padding {
  margin-right: 0px;
  margin-left: 0px;
}

.main-section {
  background-color: #e7edf2;
}

.box-design {
	height:250px;
}

.left-box-padding {
  padding-top: 25px;	
  padding-bottom: 25px;
  padding-left: 0px;  
}

.right-box-padding {
  padding-top: 25px;	
  padding-bottom: 25px;
  padding-right: 0px;  
}

.center-box-padding {
  padding-top: 25px;	
  padding-bottom: 25px;
}

.box{
  background-color: white;
  margin: 50px;
  padding:7px;
}
    
.portal-box{
  background-color: white;
  padding:7px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-alligned-box{
  background-color: white;
  margin-top: 50px;
  padding:7px;
}

.inner-box-with-border{
  margin: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding: 25px;  
}

.inner-box-without-border{
  margin: 35px;
}

.outer-box-without-border{
  margin-left: 50px;
}

.standard-font{
  color: #185078;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 11px;
}

.progress-bar-font{
  color: #185078;
  font-weight: bold;
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 7px;
}


.title-font{
  color: #185078;
  font-weight: bold;
  font-family: "Montserrat";
}

.form-font{
  color: #185078;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 11px;
}

.small-title{
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 12px; 
}

.head-font{
  color: #0295e5;
  font-weight: bold;
}

.status-font{
  color: #21c174;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 11px;  
}

.montserrat-font{
  font-family: "Montserrat";  
}

.content-font{
  color: #a9a9a9;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 11px;
}

.or-btn-default {
  background-color: #e7edf2;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 12px;
  color: #585555;
}

.or-btn-primary {
  background-color: #185078;
  border-color: #185078;
  font-size: 10px;
  height: 35px;
}

.or-btn-info{
  background-color: #0295e5;
  border-color: #0295e5;
  font-size: 10px;
  height: 35px;  
}

.or-btn-default{
  background-color: #bfd1de;
  border-color: #bfd1de;
  font-size: 10px;
  height: 35px;  
}
.or-btn{
  width: 110px; 
  color: #88a6b5; 
  background-color: #d5d8da; 
  border-color: #d5d8da
}

.vertical-line {
  border-left: thin solid #e7edf2;
}

.active-link{
  border-bottom: solid #185078;
  font-weight: bold;
}

.pid-link:hover{
  border-bottom: solid #185078;
  font-weight: bold;
  text-decoration: none;
}

.icon{
  height: 10px;
}

.or-thumbnail{
  height: 245px;
  margin-bottom: 0px;
}

.img-display-center{
  position: absolute;
  top: -50px; 
  bottom:0; 
  left: 0; 
  right:0;    
  margin: auto;
}

.thumb-box{
  display: block;
  border: 1px solid lightgray;
  height: 240px;
}

.full-hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #c6ced4;
}

.custom-table tr td {
  color: #185078;
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 11px;   
  background-color: white;
}

.or-btn-warning{
  background-color: #f1af2e; 
  border-color: #f1af2e;
}

.or-form-control{
  font-size: 13px;
  color: #185078;
  font-family: Lato;
}
.or-form-control:focus{
  font-size: 13px;
  color: #185078;
  font-weight: bold;
  font-family: Lato;
}

.form-control{
  font-family: Lato; 
}

.page-header h4{
  font-weight: bold;
}

.page-header h3{
  font-weight: bold;
}

.text-primary{
  font-family: "Montserrat";
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 11px;
  height: 40px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #909;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #909;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #909;
}

.dark-blue-title{
  color: #084375;
  font-weight: bold;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #e7edf2;
  -webkit-box-sizing: border-box;
}

/* for customizing the scrollbar*/
::-webkit-scrollbar-thumb {
    background: #b3c3d0;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 100px 200px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:hover {
    background: #185078;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 100px 200px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #b3c3d0;
}

::-webkit-scrollbar-corner:hover {
    background: #185078;
}

.form-head-font{
  color: #185078;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 18px;
}

.form-title-font{
  color: #185078;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 14px;
}

.check-box-font{
  color: #787b7b;
  font-family: "Montserrat";
  font-size: 11px;
}

.or-progress{
  width: 91%;
  border-radius: 14px;
  height: 9px;
  margin-bottom: 2px;
}

.my-checkbox:checked + .check-box-font{
  font-weight: bold;
  color: #185078;
}
.my-checkbox{
  margin-left: 0px;
}
 
.my-radio:checked + .radio-font{
  font-weight: bold;
  color: #185078;
}   

.radio-font{
  color: #787b7b;
  font-family: "Montserrat";
  font-size: 11px;
}

.custom-text-area{
  margin-top: 25px;
  padding-top: 15px;
}

.montserrat-normal{
  font-family: "Montserrat";
  font-weight: normal;
}
.montserrat-bold{
  font-family: "Montserrat";
  font-weight: bold;
}

.lato-normal{
  font-family: Lato;
  font-weight: normal;
}

.lato-bold{
  font-family: Lato;
  font-weight: bold;
}

.text-muted{
  font-weight: bold;
}

.dropdown-toggle{
  font-weight: bold; 
}

.col-xs-2 a {
  font-weight: bold;
  font-size: 13px;
}

.table th{
  font-family: "Montserrat";
  font-weight: bold;
}

button{
  font-family: 'Proxima Nova', Georgia, sans-serif;
}